.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.home p {
	line-height: 1.8;
}

@media (min-width: 768px) {
	.home {
		margin: 30px auto;
    width: 600px;
	}

	.belowBox {
		margin-top: 10px;
	}
}

.belowBox {
	display: inline-block;
}

.link, .link:visited {
	color: #600060;
	border-bottom: solid 3px #600060;
}

.link:hover {
	color: #656565;
	border-bottom: solid 3px #656565;
}

.smaller {
	height: 100px;
}

.button {
	cursor: pointer;
	height: 35px;
	width: 100%;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: .8px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	outline: none;
	border: none;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
	background-color: #e8e8e8;
  color: black;
	margin-bottom: 15px;
}

.button:hover { 
	box-shadow: 0 4px 10px 0px rgba(0,0,0,0.225);
	background-color: #9a9a9a;
}