progress[value] {
	-webkit-appearance: none;
	background-color: #d7d7d7;
	width: 100%;
	color: #d4b0d4;
}

progress::-moz-progress-bar { 
	background: #d4b0d4; 
}
progress::-webkit-progress-value { 
	background: #d4b0d4; 
}

progress::-webkit-progress-bar { 
	background: #d7d7d7; 
}