.spacing {
	margin-top: 10px;
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

@media (min-width: 768px) {
	.spacing{
		margin: 0 auto;
    width: 600px;
	}
}

.setName {
	font-size: 15px;
    color: #afafaf;
}

.buttonWrap {
	display: flex;
	justify-content: space-between;
}

.button {
	cursor: pointer;
	height: 35px;
	width: 48%;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: .8px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	outline: none;
	border: none;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
	color: #FFF;
	background-color: #600060;
}

.turnButton {
	display: inline-block;
	position: relative;
	width: 100%;
}

progress[value] {
	-webkit-appearance: none;
	background-color: #e8e8e8;
	width: 100%;
	color: #d4b0d4;
}

progress::-moz-progress-bar { 
	background: #d4b0d4; 
}
progress::-webkit-progress-value { 
	background: #d4b0d4; 
}

progress::-webkit-progress-bar { 
	background: #e8e8e8; 
}