.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	background: #600060;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 0 20px; 
}

.header h1 {
	font-size: 20px;
	color: #FFF;
	margin: 0 auto;
}

.header a {
	color: white;
}

.arrow {
	width: 25px;
	vertical-align: middle;
}

.space {
	width: 25px;
}