.box {
  background: #fff;
  border-radius: 2px;
  display: block;
  float: left;
  height: 185px;
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;

  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.gray {
  background-color: #f5f5f5;
}

.headline {
  font-size: 24px;
  color: black;
  margin: 0;
}

.subline {
  font-size: 18px;
  color: #656565;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 35px;
  padding: 0 1.5rem;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: .8px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  border: none;
  border-radius: 2px;
  color: black;
  background-color: #d4b0d4;
  width: 91%;
  position: absolute;
  bottom: 15px;
}

@media (min-width: 570px) {
  .button{
    width: 94%;
  }
}

.progress {
  position: absolute;
  bottom: 15px;
}

.progressWrap {
  display: flex;
  position: absolute;
  bottom: 15px;
}

.bar {
  height: 10px;
  width: 30px;
  background-color: #cca3cc;
  margin: 2px;
}

.smaller {
  height: 100px;
}
